body {
  background-image: url('assets/system/wow.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  background-image: linear-gradient(0,0,0, 0.5);
}

.container {
  position: absolute;
  top: 40px;
  right: 60px;
  max-width: 800px;
  width: 30%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: all 0.3s ease;
}

.container h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

form .form-group {
  margin-bottom: 15px;

}

form .form-group label {
  display: block;
  margin-bottom: 5px;
}

form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;

}

form .form-group button {
  background: #0077cc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;

}

form .form-group button:hover {
  background: #005fa3;
}

form .form-group p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #666;
  text-align: center;
}

form .form-group p a {
  color: #0077cc;
  text-decoration: none;
}

form .form-group p a:hover {
  text-decoration: underline;
}


